<header class="header_section long_section px-0">
    <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="">
            <span>
                <b style="color:#e309b7">
                    Melanoma Detection
                </b>
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
                <ul class="navbar-nav  ">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'landing' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        {{ request.user.email }}
                    </li>
                </ul>
            </div>

            <div class="quote_btn-container">
                {% if request.user.user_type == '2' %}
                
                <a href="{% url 'melanoma_prediction' %}">
                    <span>
                        Predict Melanoma
                    </span>
                </a>

                <a href="{% url 'view_appointments' %}">
                    <span>
                        Doctor Suggestions
                    </span>
                </a>

                <a href="{% url 'doLogout' %}">
                    <span>
                        Logout
                    </span>
                    <i class="fa fa-user" aria-hidden="true"></i>
                </a>

                {% elif request.user.user_type == '3' %}
                
                <a href="{% url 'doctor_view_appointments' %}">
                    <span>
                        Suggestions
                    </span>
                </a>

                <a href="{% url 'doLogout' %}">
                    <span>
                        Logout
                    </span>
                    <i class="fa fa-user" aria-hidden="true"></i>
                </a>
                
                {% else %}
                

                <a href="{% url 'registration' %}">
                    <span>
                        Create User Account
                    </span>
                </a>

                <a href="{% url 'register_doctor' %}">
                    <span>
                        Create Doctor Account
                    </span>
                </a>

                <a href="{% url 'login' %}">
                    <span>
                        Login
                    </span>
                    <i class="fa fa-user" aria-hidden="true"></i>
                </a>

                {% endif %}


                <form class="form-inline">
                </form>
            </div>
        </div>
    </nav>
</header>